<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/head') %>
  <title>homePage</title>
</head>

<body>
  <%- include('./partials/nav') %>
  <form action="/blog/create" method="post" enctype="multipart/form-data">
    <div class="container mt-4">
      <div class="mb-3">
        <label for="coverImage" class="form-label">Upload Cover Image</label>
        <input class="form-control" type="file" id="formFile" name="coverImage">
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="Title" name="title">
        <label for="Title">Title</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" id="body" style="height: 200px" name="body"></textarea>
        <label for="body">Body</label>
      </div>
      <div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </div>
    </div>
  </form>
  <%- include('./partials/scripts') %>
</body>

</html>